@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
	font-family: 'DM Sans', sans-serif;
	box-sizing: border-box;
	
}

html{
	scroll-behavior: smooth;
}

.hero{
	height: 100vh;
	width: 100%;
	background-image: url("Assets/CDG_blog_post_image_02-3.jpg");
	background-size: cover;
	background-position: center;
	/* filter: saturate(70%); */
	/* background-attachment:fixed; */
	/* background-color: rgba(0,0,0,0.5); 
	z-index: 999; */
}

nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 20px;
	padding-left: 8%;
	padding-right: 8%;
}

.logo{
	color: white;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

span{
	color: #00b2f9;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	text-decoration: none;
	font-weight: 600;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: coral;
	transition: .5s ease-in-out;
}
.btn{
	/* background-color:#00b2f9; */
	background-color: coral;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 5px 15px;
    margin: 0 3px;
	border-radius: 30px;
	transition: 1s ease-in-out; 
}
.btn:hover{
	background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid coral;

}
.content{
	position: absolute;
	top: 40%;
	left:8%;
	/* transform: translateY(-50%); */
}
.content h1{
	color: white;
	margin: 5px;
	font-size: 60px;
}


.content h4{
	color: #fff;
	letter-spacing: 2px;
	font-size: 20px;
    margin-left: 8px;
}

.content p{
color: #fff;
font-size: 15px;
margin-left: 10px;
}



.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #ffffff;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: rgb(0, 0, 0);
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: rgb(0, 0, 0);
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: rgb(0, 0, 0);
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#00b2f9;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: 1s ease-in-out; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #00b2f9;
	cursor: pointer;
    color: #000;
}





/* knowledge */

.knowledge .title h1{
	text-align: center;
}

.knowledge .box-1{
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	flex-wrap: wrap;
}
  

.knowledge .box-1 .card-1{
	width: 20%;
	/* min-width: 250px; */
	padding: 10px 12px;
	/* border: 1px solid rgb(0, 0, 0); */
	border-radius: 5px;
	cursor: pointer;
	/* box-shadow: 20px 20px 30px rgba(0, 0, 0,0.2); */
	margin-left: 50px;
	margin: 30px ;
	background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf71);
	
}



.knowledge .box-1 .card-1 h1{
color: #fff;
text-align: center;
padding-top: 10px;
padding-bottom: 15px;
}

.knowledge .box-1 .card-1 p{
color: #fff;
text-align: center;
padding-top: 15px;
padding-bottom: 10px;
}

.knowledge .box-1 .card-1 i{
	color: #fff;
	display: flex;
	font-size: 50px;
    text-align: center;
	justify-content: center;
    padding-top: 15px;
	padding-bottom: 15px;
}


		

		#projects {
			padding: 10rem 0;
		}

		#projects .container .section-heading{
          display: flex;
		  align-items: center;
		  justify-content: center;
		  padding: 2rem 0;
		  margin-top: .5rem;
		  margin-bottom: 1rem;
		}

		#projects .container .section-subheading{
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem 0;
			margin: 1rem 0;
		  }

		#projects .item {
			display: flex;
			align-items: center;
			justify-content: center;
			max-width: 800px;
			margin: 0 auto;
			margin-bottom: 15rem;
			/* gap: 2rem; */
		}
		#projects .item:nth-of-type(even) {
			flex-direction: row-reverse;
		}
		#projects .item .left {
			flex: 1;
		}
		#projects .item .right {
			margin-left: -150px;
			flex: 1;
			background-color: var(--body-bg);
			padding: 5rem 3rem;
			border-radius: 12px;
			box-shadow: 0px 0px 20px #00000028;
			z-index: 2;
		}
		#projects .item:nth-of-type(even) .right {
			margin-left: 0;
		}
		#projects .item:nth-of-type(even) .left {
			margin-left: -150px;
		}
		#projects .item .left .img {
			height: 500px;
			overflow: hidden;
			border-radius: 12px;
			overflow: hidden;
			box-shadow: 0px 0px 20px #4705fc33;
			position: relative;
		}
		#projects .item .left .img::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: #5a24ed38;
		}
		#projects .item .left .img img {
			object-fit: cover;
			transition: 0.3s ease transform;
		}
		#projects .item:hover .left .img img {
			transform: scale(1.1);
			z-index: 1;
		}
		#projects .item .right .project-title {
			font-size: 2.5rem;
			font-family: 'Montserrat';
			margin-bottom: 1rem;
		}
		#projects .item .right .project-sub-title {
			font-size: 1.6rem;
			margin-bottom: 2rem;
		}
		#projects .item .right .project-desc {
			color: var(--secondary-gray);
			margin-bottom: 3rem;
		}
		#projects .item .right .external-link {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1rem;
			padding: calc(0.6em - 4px) calc(1.6em - 4px);
		}
		#projects .item .right .external-link svg {
			width: 25px;
		}
		
		@media only screen and (max-width: 768px) {
			#projects .item {
				flex-direction: column;
			}
			#projects .item .left {
				width: 100%;
			}
			#projects .item .right {
				margin-left: 0;
				width: 90%;
				margin-top: -150px;
			}
			#projects .item:nth-of-type(even) {
				flex-direction: column;
			}
			#projects .item:nth-of-type(even) .left {
				margin-left: 0;
			}
		}
		@media only screen and (max-width: 450px) {
			#projects .item .right .buttons {
				flex-direction: column;
			}
			#projects .item .right .buttons a {
				width: 100%;
				text-align: center;
			}
		}


		/* contact form */


		




		/* blog section */
        
		

       /*--blog--------------------------*/
#blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    /* border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
}
.blog-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}


.blog-heading h3{
    font-size: 2.4rem;
    color: #2b2b2b;
    font-weight: 600;
}
.blog-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
    flex-wrap: wrap;
}
 
.blog-box{
    width:350px;
    background-color: #ffffff;
    border: 1px solid #ececec;
    margin: 20px 20px;
 
}
.blog-img{
    width:100%;
    height: auto;
}
.blog-img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.blog-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.blog-text span{
    color: #00b2f9;
    font-size: 0.9rem;
}
.blog-text .blog-title{
    font-size: 1.3rem;
    font-weight: 500;
    color: #272727;
}
.blog-text p{
    color: #9b9b9b;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0px;
}
.blog-text a{
    color: #0f0f0f;
	text-decoration: none;
}
.blog-text a:hover{
    color: #00b2f9;
    transition: all ease 0.3s;
}
 
 
@media(max-width:1250px){
 
    .blog-box{
        width: 300px;
    }
} 
@media(max-width:1100px){
    .blog-box{
        width:70%;
    }
}
 
@media(max-width:550px){
   
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding:20px;
    }
}





		/* contact */
		
   /* media query for tablets */
   @media screen and (max-width:768px)  and (max-device-width: 1024px) {
	   
   }